html
  head
    title= title
  body
    //- h3= title + ' page'
    img(src='https://http.cat/200' height='200')
    img(src='https://some-other-image.jpg' height='100')
    iframe(src="https://some-ad.com")
    script(src="https://some-external-script.js")
    

