html
  head
    title= title
  body
    h4= title + ' page'

    img(src='http://http.cat/200' height='100')
    iframe(src="https://some-ad.com")
    script(src="https://some-external-script.js")
    
